@import 'style.css';

.card .card-header {
  background-color: #fff;
}

/* This is wildly, unintuitive, but child of the card header needs the radius applied:
   https://stackoverflow.com/questions/46316719/how-to-make-card-header-no-border-radius-in-bootstrap-4 */
.card-header:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card {
  border-radius: 15px;
}

.icon {
  display: inline;
  font-size: 18px;
  margin-right: 25px;
}

.subtle {
  color: #aaa;
}

.card-number {
  margin-top: 5px;
}

.card-title {
  font-size: 12px;
  margin-left: 5px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.card-stats {
  color: #687861;
}

.card-stat-text {
  margin-left: 5px;
  font-size: 12px;
}

.card-description {
  display: block;
  font-weight: 300;
  line-height: 16px;
  margin: 10px 0 0;
}

.card-read-header {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-read-paragraph {
  line-height: 16px;
}

.card-media {
  border: 1px solid #000;
  border-radius: 10px;
}
