---
---
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

body {
  background-image: url(https://s3.postimg.cc/s1n3ji1ur/paper_fibers_2_X.png);
}

a:link,a:visited {
  color:blue;
  text-decoration: none;
}

a.frontpage-link:link,a.frontpage-link:visited {
  color: #000;
}

a.backpage-link:link,a.backpage-link:visited {
  color: #bbb;
}

%paper {
  position: absolute;
  background: lightgoldenrodyellow;
  box-shadow: 0px 0px 5px 0px #888;
  font-family: 'Shadows Into Light', cursive;
  left: 1%;
  width: 98%;
  @media (min-width: 768px) {
    left: 15%;
    width: 70%;
  }
}

.main-page {
  @extend %paper;
  height: 600px;
}

.recipe-page {
  @extend %paper;
  height: 800px;
  @media (min-width: 480px) {
    height: 600px;
  }
  @media (min-width: 1366px) {
    height: 600px;
  }
}

.lines {
  left: 0;
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(lightgoldenrodyellow 0px, lightgoldenrodyellow 24px, steelblue 25px);
}

.cookbook-title, .backpage-title {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  margin-top: -15px;
}

.cookbook-title {
  left: 5px;
  @media (min-width: 768px) {
    left: 55px;
  }
}

.backpage-title {
  right: 5px;
  transform: scale(-1,1);
  @media (min-width: 768px) {
    right: 55px;
  }
}

.text {
  position: absolute;
  top: 75px;
  left: 15px;
  line-height: 25px;
  font-size: 14px;
  margin-top: 18px;
  /* If the content overflows the boundaries of the box, then simply drop the content from rendering. */
  overflow: hidden;
  @media (min-width: 768px) {
    left: 75px;
  }
}

.recipe-text {
  width: 50%
}

.section-title {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 768px) {
  /* The ::after selector adds content to the specified class.  It uses the class div as the reference point, so, 
   in the directive below, the styling will apply to the .paper class div, creating a red stripe 50px in from the 
   .paper div's origin. */
  .main-page::before, .recipe-page::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 45px;
    width: 2px;
    background: red;
  }
}
  
.holes {
  display: none;
  position: absolute;
  height: 25px;
  width: 25px;
  background: #faf7f2;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
  
  @media (min-width: 768px) {
    display: block;
  }
}

.hole-top {
  top: 10%;
}

.hole-middle {
  top: 50%;
}

.hole-bottom {
  bottom: 10%;
}

.card-stats {
  color: #687861;
}

.card-stat-text {
  margin-left: 5px;
}
  
.card-read-header {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.ingredient-header {
  margin-top: 25px;
}

.ingredient-body {
  margin-top: 0px;
}

.instruction-header {
  margin-top: 25px;
}

.instruction-body {
  margin-top: 0px;
}
  
.card-description {
  margin-top: -15px;
}

.recipe-div {
  text-align: center;
  height: 315px;
  @media (min-width: 480px) {
    width: 315px;
    float: right;
  }
  @media (max-width: 480px) {
    margin-bottom: 10px;
  }
}

.recipe-img {
  margin: auto;
  border: solid 2px;
}
