/* The @import rule must be at the top of the document (but after any @charset declaration).*/
@import 'style.css';

.paper {
  position: absolute;
  background: lightgoldenrodyellow;
  box-shadow: 0px 0px 5px 0px #888;
  font-family: 'Shadows Into Light', cursive;
  height: 600px;
  left: 5%;
  width: 90%;
}

.lines {
  left: 0;
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  /* This indicates that from 0 - 24px on the gradient, transition from yellow to yellow (so, no transition).
     From 24 - 25px transition from yellow to blue (essentially creating thin blue lines). */
  background-image: repeating-linear-gradient(lightgoldenrodyellow 0px, lightgoldenrodyellow 24px, steelblue 25px);
}

.cookbook-title, .backpage-title {
  font-size: 32px;
  font-weight: 700;
  margin-top: -15px;
}

.cookbook-title {
  position: absolute;
  left: 55px;
}

.backpage-title {
  transform: scale(-1,1);
  position: absolute;
  right: 55px;
}

a.backpage-link:link,a.backpage-link:visited {
  color: #bbb;
}

.text {
  position: absolute;
  top: 75px;
  left: 55px;
  line-height: 25px;
  font-size: 14px;
  margin-top: 18px;
  /* If the content overflows the boundaries of the box, then simply drop the content from rendering. */
  overflow: hidden;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 768px) {
  /* The ::after selector adds content to the specified class.  It uses the class div as the reference point, so, 
   in the directive below, the styling will apply to the .paper class div, creating a red stripe 50px in from the 
   .paper div's origin. */
  .paper::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 45px;
    width: 2px;
    background: red;
  }
  
.holes {
  position: absolute;
  height: 25px;
  width: 25px;
  background: #faf7f2;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}

.hole-top {
  top: 10%; 
}

.hole-middle {
  top: 50%;
}

.hole-bottom {
  bottom: 10%;
}

.block-link {
  display: block;
}
