/* The @import rule must be at the top of the document (but after any @charset declaration).*/
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

body {
  background-image: url(https://s3.postimg.cc/s1n3ji1ur/paper_fibers_2_X.png);
}

a:link,a:visited {
  color:blue;
  text-decoration: none;
}
