html {
  background: #FAF7F2;
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
  /* border-box ensures that the width and height of the box specified are the true
     width and height.  Padding dimensions aren't added to the specified dimensions
     to create a bigger box. */
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

* {
  box-sizing: inherit;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card-number {
  margin-top: 5px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  /* Allows the element to be formatted as a block with height and width parameters, 
     but it's styled inline like a <span> element */
  display: inline-block;
  font-size: 10px;
  height: 25px;
  width: 25px;
  /* Specifies the height of the line the text is located on, independent of the font size.
     This is similar to a ruled line on notebook paper.*/
  line-height: 25px;
  text-align: center;
}

.card-container {
  margin: 20px auto 0;
  width: 692px;
  position: relative;
  box-shadow: 10px 10px 25px #777;
}

.card {
  background-color: #fff;
  /* This site: https://www.w3schools.com/css/css_boxmodel.asp explains the difference between
     margin and padding.  padding is the distance between an element's content and its own border.
     margin is the distance between an element and another element. */
  padding: 30px;
  /* Both this site: http://www.barelyfitz.com/screencast/html-training/css/positioning/ and this site:
     https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/ explain positioning
     within a page. */
  position: relative;
  z-index: 1;
}

.card-body {
  display: inline-block;
  width: 310px;
  /* Float to the left of the containing element. */
  float: left;
}

.card-header {
  margin-bottom: 15px;
}

.card-title {
  display: inline;
  font-size: 12px;
  /* top margin is 5px, left and right are 5px, and bottom is 0px */
  margin: 5px 5px 0px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.card-stats {
  color: #687861;
}

.icon {
  display: inline;
  font-size: 18px;
  margin-right: 25px;
}

.card-stat-text {
  margin-left: 5px;
  font-size: 14px;
}

.subtle {
  color: #aaa;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
  margin: 10px 0 0;
}

.card-media {
  float: right;
  border: 1px solid #000;
  border-radius: 10px;
}

.card-read-header {
  margin: 10px 0 0;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-read-list {
  margin: 5px 0 0 -25px;
}

.card-read-paragraph {
  line-height: 16px;
}