/* The @import rule must be at the top of the document (but after any @charset declaration).*/
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

body {
  background-image: url(https://s3.postimg.org/s1n3ji1ur/paper_fibers_2_X.png);
}

/**************************/
/* The main notebook page */
/**************************/
.paper {
  position: absolute;
  height: 1100px;
  width: 900px;
  background: lightgoldenrodyellow;
  left: 15%;
  box-shadow: 0px 0px 5px 0px #888;
}

/* The ::before selector adds content to the specified class.  It uses the class div as the reference point, so, 
   in the directive below, the styling will apply to the .paper class div, creating a red stripe 50px in from the 
   .paper div's origin. */
.paper::before {
  content: '';
  position: absolute;
  left: 50px;
  height: 100%;
  width: 2px;
  background: red;
}

.lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  /* This indicates that from 0 - 24px on the gradient, transition from yellow to yellow (so, no transition).
     From 24 - 25px transition from yellow to blue (essentially creating thin blue lines). */
  background-image: repeating-linear-gradient(lightgoldenrodyellow 0px, lightgoldenrodyellow 24px, steelblue 25px);
}

.text {
  position: absolute;
  top: 90px;
  left: 60px;
  bottom: 10px;
  right: 15px;
  line-height: 25px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 14px;
  /* If the content overflows the boundaries of the box, then simply drop the content from rendering. */
  overflow: hidden;
}

.cookbook-title {
  position: relative;
  left: 54px;
  top: -14px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 32px;
  font-weight: 700;
}

.section-title {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  font-weight: 600;
}

.holes {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background: #faf7f2;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}

.hole-top {
  top: 10%; 
}

.hole-middle {
  top: 50%;
}

.hole-bottom {
  bottom: 10%;
}

a:link,a:visited {
  color:blue;
  text-decoration: none;
}

.block-link {
  display: block;
}

/*************************/
/* The recipe card page. */
/*************************/
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.card-number {
  margin-top: 5px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  /* Allows the element to be formatted as a block with height and width parameters, 
     but it's styled inline like a <span> element */
  display: inline-block;
  font-size: 10px;
  height: 25px;
  width: 25px;
  /* Specifies the height of the line the text is located on, independent of the font size.
     This is similar to a ruled line on notebook paper.*/
  line-height: 25px;
  text-align: center;
}

.card {
  background-color: #fff;
  width: 650px;
  margin: 0 auto;
  /* Both this site: http://www.barelyfitz.com/screencast/html-training/css/positioning/ and this site:
     https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/ explain positioning
     within a page. */
  position: relative;
  z-index: 1;
}


.card-header {
  background-color: #fff;
}

.card-title {
  display: inline;
  font-size: 12px;
  /* top margin is 5px, left and right are 5px, and bottom is 0px */
  margin: 5px 5px 0px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.card-stats {
  color: #687861;
}

.icon {
  display: inline;
  font-size: 18px;
  margin-right: 25px;
}

.card-stat-text {
  margin-left: 5px;
  font-size: 14px;
}

.subtle {
  color: #aaa;
}

.card-description {
  display: inline-block;
  font-weight: 300;
  line-height: 16px;
  margin: 10px 0 0;
}

.card-media {
  float: right;
  border: 1px solid #000;
  border-radius: 10px;
}

.card-read-header {
  margin: 10px 0 0;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card-read-paragraph {
  line-height: 16px;
}

.link-home {
  display: inline-block;
  float: right;
}
