---
---
/* The @import rule must be at the top of the document (but after any @charset declaration).*/
@import 'backpage.css';

.photo-container {
  display: block;
  border: 5px solid;
}

.photo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 200px;
  background-color: darken(white,2%);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(#111, .35);
  
  &:hover {
    transform: scale(1) rotate(0 deg);
    z-index: 1;
  }
}


.photo:after {
  content: var(--caption);
  display: block;
  font-weight: 500;
  color: #555;
  font-size: 12pt;
  opacity: .75;
  text-align: center;
}
