---
---
/* The @import rule must be at the top of the document (but after any @charset declaration).*/
@import 'backpage.css';

.photo {
  position: relative;
  top: 100px;
  left: 200px;
  width: 345px;
  height: 375px;
  background-color: darken(white,2%);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(#111, .35);
  
  transition: transform .35s ease-out;
  transform: scale(.65) translate(var(--x),var(--y)) rotate(var(--angle));
  
  &:hover {
    transform: scale(1) rotate(0deg);
    z-index: 1;
  }
}


.photo:after {
  content: var(--caption);
  display: block;
  font-weight: 500;
  color: #555;
  font-size: 12pt;
  opacity: .75;
  text-align: center;
}
