---
layout: default
---
<div class="paper">
    <div class="lines">
      {% if page.title == site.title %}
        <div class="cookbook-title">
          <a class="frontpage-link" href="{{site.baseurl}}{% link index.md %}">{{ page.title }}</a>
        </div>
        <div class="backpage-title">
           <a class="backpage-link" href="{{site.baseurl}}{% link backpage.md %}">Cooking Tips</a>
      </div>
      {% else %}
        <div class="cookbook-title">
          <a class="frontpage-link" href="{{site.baseurl}}{% link backpage.md %}">Cooking Tips</a>
        </div>
        <div class="backpage-title">
          <a class="backpage-link" href="{{site.baseurl}}{% link index.md %}">{{ site.title }}</a>
        </div>
      {% endif %}
      {{ content }}
    </div>
    <div class="holes hole-top"></div>
    <div class="holes hole-middle"></div>
    <div class="holes hole-bottom"></div>
</div>
