---
layout: main
---
<div class="text">
  <div class="recipe-div">
    <img src="{{ page.image-path }}" alt="" class="recipe-img" />
  </div>
  <div class="section-title">{{ page.recipe-title }}</div>
  <div class="card-stats">
    <span class="icon ion-fork"><span class="card-stat-text">{{ page.servings }}</span></span>
    <span class="icon ion-clock"><span class="card-stat-text">{{ page.prep-time }}</span></span>
    <span class="icon ion-connection-bars"><span class="card-stat-text">{{ page.level }}</span></span>
    <span class="icon ion-flame"><span class="card-stat-text">{{ page.calories }}</span></span>
  </div>
  <div class="card-description">{{ page.description | markdownify }}</div>
  <span class="card-read-header ingredient-header">Ingredients</span>
  <p class="card-read-paragraph ingredient-body">
    {{ page.ingredients | join: '; ' }}
  </p>
  <span class="card-read-header instruction-header">Instructions</span>
  <p class="card-read-paragraph instruction-body">
    {{ page.instructions | join: ' ' }}
  </p>
</div>
